
.notificacion-container {
  text-align: center;
  margin-top: 1.5rem;
}

.notificacion-alert {
  display: inline-block;
  background-color: #d1e7dd; /* verde claro */
  color: #0f5132; /* texto verde oscuro */
  border: 1px solid #badbcc;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
