/* Profile.css */

.profile-avatar {
    width: 100px;
    height: 100px;
    font-size: 2rem;
}

.Profile_Img {
    width: 100%;
    max-width: 450px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5%;
}

.profile-points-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
}

.profile-progress-bar {
    height: 20px;
}

.profile-progress-value {
    width: 65%;
}