.PointsBar {
    display: flex;
    align-items: center;
    height: 5%;
    border: 1px solid black;
}

.support-button {
    height: 30px;
    width: 30px;
    border-radius: 40%;
    background-color: transparent;
    transition: background-color 0.6s ease, all 0.3s ease;
}

.support-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.support-button:hover {
    background-color: rgba(var(--nebula-violet), 0.3);
    box-shadow: 0 0 20px rgba(160, 32, 240, 0.4),
        0 0 35px rgba(255, 110, 199, 0.25);
}

.gifts-dropdown-menu {
    min-width: 250px;
}

.astro-coin-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-left: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.gift-price-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 15px;
    height: 40px;
    border-radius: 20px;
}