.Main-Seccion {
    height: 100%;
}

#Middle-Page {
    height: 100%;
    width: 77%;
}

#Right-Page {
    height: 100%;
    width: 23%;
}

.chat-offline-container {
    background-color: #18181b;
    color: #efeff1;
}